/*
  Table of Contents
    1. General
    2. Main Header
    3. Homepage 
    4. Main Footer
    5. Colors & Borders
    6. Media Queries
*/

/***********************************
GENERAL
***********************************/

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 1em;
}

html {
  box-sizing: border-box;
}

body {
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.3rem;
	text-transform: uppercase;
	margin-top: 0;
}

img {
	max-width: 100%;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

.homepage > section {
	padding: 3.8em 3%;
}


/***********************************
MAIN HEADER
***********************************/

.main-header {
	font-size: 0.925rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0.8em;
	padding: 1.2em 3%;
}

.logo {
	margin-bottom: 2em;
}

.main-header nav ul {
	display: flex;
	justify-content: space-around;
}

.main-header nav a {
	margin: 0 0.2em;
	padding: 0.4em 0.2em;
}


/***********************************
HOMEPAGE
***********************************/

.homepage h3,
.homepage .hero {
	text-align: center;
}

.homepage > section h3 {
	letter-spacing: 1px;
}

/* Hero */
.hero img {
	margin-bottom: 0.5em;
}

.hero p {
	font-size: 1.2rem;
	font-style: italic;
	margin: 0;
}

/* Services */
.services {
	font-size: 1rem;
}

.services ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px 10px;
	text-align: center;
}

.services li {
	padding: 0.5em;
}

/* Testimonials */
.testimonials {
	font-size: 1rem;
}

.first-testimonial {
	margin-bottom: 2.5em;
}

.first-testimonial img {
	float: left;
	margin-right: 0.5em;
}

.second-testimonial img {
	float: right;
	margin-left: 0.5em;
}

/***********************************
MAIN FOOTER
***********************************/

.main-footer {
	font-size: 0.8rem;
	text-align: center;
	padding: 5em 3% 2em;
}

.main-footer p {
	margin: 0;
	min-height: 130px;
	background-image: url('../assets/img/heart-icon.png');
	background-repeat: no-repeat;
	background-position: left bottom;
}



/***********************************
COLORS & BORDERS
***********************************/

/* General */
body {
	color: #800080;
}

a {
	color: #80277f;
}

a:hover {
	color: #ffc794;
}

.services {
	background-color: #fff;
}

.hero,
.testimonials {
	background-color: rgba(193, 160, 196, 0.5);
}

.homepage h3 {
	border-bottom: 2px solid;
}

/* Main Header */
.main-header nav a {
	border-bottom-color: #ffc794;
	transition: color 0.1s ease-in-out;
}

.main-header nav a:hover {
	border-bottom: 2px solid #ffc794;
}

/* Hero */
.hero img {
	border: 2px solid;
	border-radius: 50%;
}

/* Services */
.services li {
	border: 2px solid #800080;
	border-radius: 1em;
	background-color: #fefefe;
}

.services li:hover {
	background-color: rgba(128, 0, 128, 0.65);
	color: #fefefe;
}

/***********************************
MEDIA QUERIES
***********************************/
