/*
  Table of Contents
    1. General
    2. Main Header
    3. Homepage 
    4. Main Footer
    5. Colors & Borders
    6. Media Queries
*/

/***********************************
GENERAL
***********************************/

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 1em;
}

html {
  box-sizing: border-box;
}

body {
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
}

h3 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}

img {
	max-width: 100%;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

.main-header,
.main-footer,
.homepage > section {
	padding: 0 3%;
}



/***********************************
MAIN HEADER
***********************************/



/***********************************
HOMEPAGE
***********************************/



/***********************************
MAIN FOOTER
***********************************/



/***********************************
COLORS & BORDERS
***********************************/

/* General */
body {
	color: #800080;
}

a {
	color: #80277f;
}

a:hover {
	color: #ffc794;
}

.services {
	background-color: rgba(242, 150, 124, 0.65);
}

.hero,
.testimonials {
	background-color: rgba(193, 160, 196, 0.5);
}

/* Main Header */


/* Hero */

/***********************************
MEDIA QUERIES
***********************************/
